html, body {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    height: 100%;
    min-height: 100%;
    width: 100%;
}
a:hover {
    text-decoration: none;
}
/*------------ NavBar Starts ---------------*/
#home .navbar-default {
    background-color: transparent;
}

.navbar-default {
    background-color: #9a9a9a;
    height: 75px;
    border-radius: 0px;
    border: none;
}

.navbar-brand-name, 
.navbar-default .nav > li > a {
  text-transform: uppercase;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.7);
}
.navbar-brand-name:hover, 
.navbar-default .nav > li > a:focus,
.navbar-default .nav > li > a:hover {
  color: rgba(255, 255, 255, 1.0);
} 
.navbar-brand {
  width: 210px;
    font-size: 20px;
}
.navbar-default .nav > li > a {
  font-size: 13px;
  padding-top: 27px;
} 

.navbar-logo,
.footer-logo {
    width: 40px;
}
.navbar-brand-name,
.footer-brand-name {
    margin: 10px;
}
#userProfile img {
    border-radius: 50px;
    width: 30px;
    margin-top: -7px;
}
@media (min-width: 768px) {

}

/*------------ NavBar Ends ---------------*/

/*------------ Header Ends ---------------*/
.header-section {
  height: 500px;
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('../img/header3.jpeg');
  text-align: center;
  color: white;
}
header .header-content {
  position: relative;
  text-align: center;
  padding: 100px 15px 100px;
  width: 100%;
}

header {
    min-height: 50%;
}
header .header-content {
    position: absolute;
    top: 60%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 50px;
}
header .header-content .header-content-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 60px;
}

header .header-content .header-content-inner p {
    font-size: 20px;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
  }
@media (max-width: 768px) {
    header .header-content .header-content-inner h1 {
        font-size: 30px;
        margin-bottom: 30px;
    }
    header .header-content .header-content-inner p {
        font-weight: 300;
        font-size: 18px;
    }
    header .header-content .header-content-inner p {
        max-width: 100%;
        margin-bottom:50px;
    }
}
/*------------ Header Ends ---------------*/

/*------------ SearchBar Starts ---------------*/
/* TODO depreacted*/
.search-section {
    background-color: #f4f4f4;
    margin-bottom: 30px;
}
.search-inner-container {
    background-color: #fff;
    border-radius: 5px;
    padding: 7px 7px;
}
.search-row {
    margin: 30px 0px;
}
.search-btn {
    width: 100%;
    font-size: 18px;
}
.search-elements {
    height: 40px;
}

.search-elements > * {
    height: 100%;
}

/* TODO depreacted ends*/

.search-input {
    width: 100%;
    height: 40px;;
    font-size: 16px;
    padding: 0px 10px;
    border: none;
    border-radius: 4px;
    color: black;
    opacity: 0.8
    padding: 7px 15px;
}
.search-input:focus {
    outline: none;
}
.form-control-feedback {
    top: 3px;
    right: 3px;
    font-size: 20px;
    color: #9a9a9a;
    pointer-events: auto;
    cursor: pointer;
}

/*------------ SearchBar Ends ---------------*/

.collection-heading {
    margin-top: 40px;
    margin-bottom: 15px;
}
.collection-subheading {
    font-weight: 300;
    margin-bottom: 75px;
}

.collection-container{
    width: 100%;
    min-height: 220px;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    margin: 0;
}
.collection-ul {
    display: inline-block;
    position: relative;
    left: 0;
    margin: 0 0 14px;
    padding: 0; 
}
.collection-li {
    /*
    text-align: center;
    min-width: 145px;
    max-width: 270px;
    height: 200px;
    overflow: hidden;
    margin: 10px 10px 10px 0;
    position: relative;
    vertical-align: top;
    display: inline-block;
    margin-right: 10px;
    */
    background-image: url('../img/tmp/collection_blur.png');
    width: 200px;
    height: 200px !important;
    overflow: hidden;
    vertical-align: top;
    display: inline-block;
    margin: 0px 20px;
    border-radius: 4px;
    text-align: center;
    word-wrap: break-word;
    white-space: normal;
    position: relative;

    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

@media (max-width: 800px) {
    .collection-li {
        width: 130px;
        height: 130px !important;
        margin: 0 5px;
    }
}

.collection-span {
    text-align: center;
    position: relative;
    display: inline-block;
    min-width: 145px;

    /* NOTE Make do. Pleaes change */
    width: 225px;
    height: 100px;
    padding: 20px;
    position: absolute;
    top: 58%;
    left: 83%;
    margin: -70px 0 0 -170px;

}

.collection-img {
    width: auto;
    height: auto;
    max-width: 270px;
    max-height: 200px;
    vertical-align: middle;
}

.slick-left {
    top: 45%;
    position: absolute;
    font-size: 30px;
    margin-right: 7px;
    left: -10px;
    z-index: 2;
}
.slick-right {
    top: 45%;
    position: absolute;
    font-size: 30px;
    right: -14px;
}

.slick-list.draggable{
    margin: 0 10px;
}
.howto-section,
.apps-section {
    margin-top: 50px;
    margin-bottom: 70px;
}
.howto-heading,
.apps-heading {
    margin-bottom: 50px;
    margin-top: 30px;
}

/*------------ Catalog Starts ---------------*/
#catalog .search-elements {
    margin-top: 15px;
    margin-left: 60px;
}
.catalog-book-container {
    padding-top: 10px;
    width: 110px;
    float: left;
    min-height: 209px;
    margin-right: 40px;
    display: inline;
    padding: 20px 0 0;
}
.catalog-book-image {
    width: auto;
    height: auto;
    max-width: 200px;
    height: 200px;
    vertical-align: middle;
}
.catalog-book-info {
    min-height: 70px;
}

.catalog-sidebar {
    margin-bottom: 30px;
}
.catalog-sidebar > ul {
    padding-left: 10px;
}
.catalog-sidebar-title {
    color: #9a9a9a;
    font-size: 16px;
    letter-spacing: 1.2px;
}
.catalog-sidebar-item {
    display: inherit;
    margin: 5px 0px;
}
/*------------ Catalog Ends ---------------*/
/*------------ ItemPage Starts ---------------*/
.itempage-section {
    min-height: 500px;
}
.item-container {
    border-right: 1px solid #f4f4f4;
}
.img-container img {
    width: 100%;
}
.itemmeta-container > div {
    display: inline-block;
    margin: 10px;
    padding: 0px 10px;
}

/*------------ ItemPage Ends ---------------*/

.footer {
    background-color: #f4f4f4;
    min-height: 100px;
    padding-top: 20px;
}
/*
.slick-prev, .slick-next {
    display: block;
    width: 75px;
    height: 536px;
    background: url(https://asla.org/sustainablelandscapes/images/LargeSlideLEFT.png) no-repeat;
    margin: 5px 0 0 0;
    float: left;
    transition: .6s linear;
    -moz-transition: .6s linear;
    -webkit-transition: .6s linear;
    cursor: pointer;
    top: 35%;
}

.slick-prev {
        left: -6%;
    }


    .slick-next {
        background: url(https://asla.org/sustainablelandscapes/images/LargeSlideRIGHT.png) no-repeat !important;
        clear: right;
        margin-left: 10px;
        right: -10%;
                }


*/
