<!DOCTYPE html>
<html>
    <head>
        <!-- INSERT HEAD TAGS -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %} « Ostrich - Rent Books</title>
        <!-- TODO :Enter Site Description and other essential meta -->

        {% block head %}{% endblock %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/bootstrap/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='vendor/slick/slick/slick.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='vendor/slick/slick/slick-theme.css') }}">


        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='vendor/slick/slick/slick.min.js') }}"></script>
        <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
        <script>
            // NOTE Strangely this doesn't work when put in be file and imported
            function start() {
                gapi.load('auth2', function() {
                    auth2 = gapi.auth2.init({
                        client_id: '487125469761-4anu3rqa9koulgjjkujj38miba15epu9.apps.googleusercontent.com' 
                    });
                });
            }
        </script>
    </head>
    <body>
        {% block content %}Loading...{% endblock %}
        {% block postscript %}
        <script>
            var store = {{ store | safe }}; 
        </script>
        <script src="{{ url_for('static', filename='dist/bundle.js') }}"></script>

        {% endblock %}
    </body>
</html>

